/*
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Hind', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
*/

html, body, div, span, h1, h2, h3, h4, h5, h6, p,  {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  font-family: Arial, sans-serif;
  vertical-align: baseline;
}

h1 {
  font-size: 24px;
  line-height: 115%;
  font-weight: 300;
}

p {
  font-size: 15px;
  line-height: 120%;
}

.container {
  margin: 0 auto;
  width: 80%;
}

.content {
  float: left;
  overflow: hidden;
  position: relative;
  padding: 16px 24px 32px 24px;
  width: 33.333333333%;
  box-sizing: border-box;

}

.content:nth-child(1) {
  font-family: 'Roboto', sans-serif;
}

.content:nth-child(2) {
  font-family: 'Open Sans', sans-serif;
}
.content:nth-child(3) {
  font-family: 'Montserrat', sans-serif;
}
.content:nth-child(4) {
  font-family: 'Nunito', sans-serif;
}
.content:nth-child(5) {
  font-family: 'Dosis', sans-serif;
}
.content:nth-child(6) {
  font-family: 'Hind', sans-serif;
}
.content:nth-child(7) {
  font-family: 'Rubik', sans-serif;
}
