/* rubik-300 - cyrillic_latin */
@font-face {
  font-family: 'RubikLight';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/rubik-v7-cyrillic_latin-300.eot'); /* IE9 Compat Modes */
  src: local('Rubik Light'), local('Rubik-Light'),
       url('fonts/rubik-v7-cyrillic_latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/rubik-v7-cyrillic_latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/rubik-v7-cyrillic_latin-300.woff') format('woff'), /* Modern Browsers */
       url('fonts/rubik-v7-cyrillic_latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/rubik-v7-cyrillic_latin-300.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-regular - cyrillic_latin */
@font-face {
  font-family: 'RubikRegular';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/rubik-v7-cyrillic_latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Rubik'), local('Rubik-Regular'),
       url('fonts/rubik-v7-cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/rubik-v7-cyrillic_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/rubik-v7-cyrillic_latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/rubik-v7-cyrillic_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/rubik-v7-cyrillic_latin-regular.svg#Rubik') format('svg'); /* Legacy iOS */
}
/* rubik-500 - cyrillic_latin */
@font-face {
  font-family: 'RubikMedium';
  font-style: normal;
  font-weight: normal;
  src: url('fonts/rubik-v7-cyrillic_latin-500.eot'); /* IE9 Compat Modes */
  src: local('Rubik Medium'), local('Rubik-Medium'),
       url('fonts/rubik-v7-cyrillic_latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/rubik-v7-cyrillic_latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/rubik-v7-cyrillic_latin-500.woff') format('woff'), /* Modern Browsers */
       url('fonts/rubik-v7-cyrillic_latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/rubik-v7-cyrillic_latin-500.svg#Rubik') format('svg'); /* Legacy iOS */
}


html, body, div, h1, p {
    font-family: 'RubikRegular', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
.content {
    margin: 0 auto;
    width: 60%;
    overflow: hidden;
}

.col {
    float: left;
    width: 28%;
    margin-left: 16px;
}

.col:first-of-type  {
    margin-left: 0;
}

h1 {
    font-size: 32px;
    line-height: 100%;
    margin: 32px 0 8px 0;
}
p {
    font-size: 15px;
    line-height: 120%;
    margin: 8px 0;
}

.light {
    font-family: 'RubikLight';
}

.normal {
    font-family: 'RubikRegular';
}

.medium {
    font-family: 'RubikMedium';
}


/*test*/


ul {
    list-style:none;
    float:left;
    border:1px solid lightgreen;
    position: relative;
    padding: 24px;
}
li {
    border-bottom:1px dotted red;
    position:relative;
    width:100%;
    float:left
}
li span {
    background: magenta;
    float:right;
    position:relative;
    top:.2em;
}
li em {
    float:left;
    margin:0;
    position:relative;
    top:.2em;
    background:#eff2df;
}
